.widget-container.hello-world {
    // The color of the widget. This variable is used in the widget's color picker
    --widget-color: white;

    background: transparent;
    color: var(--widget-color);
    font-size: 32px;
    line-height: 40px;
    white-space: nowrap;
}
